@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@600&display=swap');
:root{
  --cor-1:#00A0C3;
  --cor-2:#00b9b9;
  --cor-3:#00cdb4;
  --cor-4:#00dfae;
  --cor-5:#01efad;
  --fonte-destaque:1.3em 'Poppins', Open sans-serif;
  --fonte-paragrafo:1.3em 'Open Sans', sans-serif;
}
/* Configurações globais */
*{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
header{
  height: 100vh;
  background-image: linear-gradient(to bottom, var(--cor-1),var(--cor-2),var(--cor-3),var(--cor-4),var(--cor-5));
}
header a{
  color: whitesmoke;
}
/* Logo + Navegação */
nav{
  display: flex;
  justify-content: space-between;
  height: 14%;
  width: 100%;
  align-items: center;
  padding: 3%;
}
#logo{
  font: var(--fonte-destaque);
  color: white;
  font-size: 2em;
}
/* Navegação */
nav ul{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: space-between;
  padding: 7%;
}
nav ul li{
  padding: 3%;
  font: var(--fonte-destaque);
  text-transform: uppercase;
  color: whitesmoke;
}
nav ul li a{
  padding: 5%;
  transition: 0.5s;
}
nav ul li a:hover{
  background-color: #004757d8;
  transition: 0.5s;
  border-radius: 2px;
}
/* Container com as frases de destaque */
.container-header{
  position: absolute;
  top: 30%;
  left: 10%;
  max-width: 10%;
  min-width: 30%;
}
.container-header p{
  color: white;
  font: var(--fonte-paragrafo);
  font-size: 2em;
  text-align: left;
  min-width: 30%;
}
.container-header .btn-subscribe{
  max-width: 60%;
  background-image: linear-gradient(to right, var(--cor-1),var(--cor-2),transparent);
  font: var(--fonte-destaque);  
  padding: 1%;
}