@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
header{
    height: 100vh;
}
body{
    min-height: 100vh;
    max-width: 100%;
    background: url(../images/background-header.png);
    background-repeat: no-repeat;
}
/*NavBar*/
nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 70px;
    background: transparent;
    /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);*/
    z-index: 99;
}
nav .navbar{
    height: 100%;
    max-width: 1250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0 50px;
}
.navbar .logo a{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
nav .navbar .nav-links{
    line-height: 70px;
    height: 100%;
}
nav .navbar .links{
    display: flex;
}
nav .navbar .links li{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 14px;
}
nav .navbar .links li a{
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}
.links li:hover .servico-arrow,
.links li:hover .js-arrow{
    transform: rotate(180deg);
}

nav .navbar .links li .arrow{
    height: 100%;
    width: 22px;
    line-height: 70px;
    text-align: center;
    display: inline-block;
    color: #fff;
    transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu{
    position: absolute;
    top: 70px;
    left: 0;
    line-height: 40px;
    /*linear-gradient( to right, #00b9b9, #00dfae );*/
    background: #00b9b9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 2;
}
nav .navbar .links li:hover .servico-sub-menu,
nav .navbar .links li:hover .js-sub-menu{
    display: block;
}
.navbar .links li .sub-menu li{
    padding: 0 22px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.navbar .links li .sub-menu a{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}
.navbar .nav-links .sidebar-logo{
    display: none;
}
.navbar .bx-menu{
    display: none;
}
.btnsignup{
    background-color: transparent;
    width: 155px;
    height: 48px;
    margin-left: -117%;
    margin-top: 142%;
    border-radius: 45px;
    font-size: 16.5px;
    font-weight: 500;
    cursor: pointer;
    /* border: none; */
    text-decoration: uppercase;
    letter-spacing: 2px;
    /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); */
    transition: all 0.3 ease; 
    transition: 0.7s;
    border: 2px solid #fff;
    color: white;
}
.btnsignup:hover{
    /* background: #005E4A;*/
    transform: translate(-7px);
    /*color: #fff;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2); */
    border: 2px solid white;
}

/*Responsive NavBar*/
@media (max-width:920px) {
nav .navbar{
    max-width: 100%;
    padding: 0 25px;
}
nav .navbar .logo a{
    font-size: 27px;
}
nav .navbar .links li{
    padding: 0 10px;
    white-space: nowrap;
}
nav .navbar .links li a{
    font-size: 15px;
}
}

@media (max-width:800px){
.navbar .bx-menu{
    display: block;
}
nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background: linear-gradient( to left, #00b9b9, #00dfae );
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
}
.navbar .nav-links .sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar-logo .logo-name{
    font-size: 25px;
    color: #fff;
}
.sidebar-logo  i,
.navbar .bx-menu{
    font-size: 25px;
    color: #fff;
}
nav .navbar .links{
    display: block;
    margin-top: 20px;
}
nav .navbar .links li .arrow{
    line-height: 40px;
}
nav .navbar .links li{
    display: block;
}
nav .navbar .links li .sub-menu{
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
}
nav .navbar .links li .sub-menu li{
    border-bottom: none;
}
.links li:hover .servico-arrow,
.links li:hover .js-arrow{
    transform: rotate(0deg);
}
nav .navbar .links li:hover .servico-sub-menu,
nav .navbar .links li:hover .js-sub-menu{
    display: none;
}
.navbar .nav-links.show1 .links .servico-sub-menu,
.navbar .nav-links.show3 .links .js-sub-menu{
    display: block;
}
.navbar .nav-links.show1 .links .servico-arrow,
.navbar .nav-links.show3 .links .js-arrow{
    transform: rotate(180deg);
}
}
@media (max-width:370px){
    nav .navbar .nav-links{
    max-width: 100%;
} 
}
/*Features*/
.btnmiddle{
    background-color: transparent;
    width: 150px;
    height: 45px;
    border-radius: 45px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    /* border: none; */
    text-decoration: uppercase;
    letter-spacing: 2px;
    /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); */
    transition: all 0.3 ease; 
    transition: 0.7s;
    border: 2px solid transparent;
    color: white;
}
.btnmiddle:hover{
    /* background: #005E4A;*/
    transform: translate(-7px);
    /*color: #fff;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2); */
    border: 2px solid white;
}
.celularmeio{
    position: absolute;    
    margin-top: -52%;
    right: 2.5px;
}
.dashboard{
    position: absolute;    
    margin-top: -52%;
    right: 1px;
}
.text-middle h1{
    position: absolute;
    width: 650px;
    height: 170px;
    font-size: 60px;
    top: 30%;
    left: 15%;
    z-index: 10;
    color: #000;
    padding: 0 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.text-middle h2{
    position: absolute;
    width: 1250px;
    height: 200px;
    font-size: 35px;
    top: 98%;
    left: 5%;
    z-index: 10;
    color: #000;
    padding: 0 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.text-middle p{
    position: absolute;
    width: 600px;
    height: 170px;
    font-size: 20px;
    top: 48%;
    left: 16.2%;
    z-index: 10;
    color: #000;
    padding: 0 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.features{
    position: relative;
    margin-top: 10%;
    right: -8%;
    width: 300px;
    height: 420px;
    background-color: #00b9b9;
    transition: 0.3s;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    margin-left: 4%;
}
.features:hover{
    transform: translateY(-15px);
}
.text-features{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00b9b9;
    width: 295px;
    height: 415px;
    z-index: 10;
    color: #fff;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.btnfeatures{
    background-color: transparent;
    width: 150px;
    height: 45px;
    border-radius: 45px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    /* border: none; */
    text-decoration: uppercase;
    letter-spacing: 2px;
    /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); */
    transition: all 0.3 ease; 
    transition: 0.7s;
    border: 2px solid #fff;
    color: white;
}
.btnfeatures:hover{
    /* background: #005E4A;*/
    transform: translate(+7px);
    /*color: #fff;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2); */
    border: 2px solid #000;
}
@media screen and (max-width: 480px) {
    .text-middle h1{
        font-size: 45px;
        width: 435px;
        height: 100px;
        left: 35px;
    }
    .text-middle p{
        font-size: 18px;
        width: 350px;
        left: 45px;
        height: 200px;       
    }
    .celularmeio{
        max-width: 0%;
    }
    .dashboard{
        max-width: 0%;
    }
    .text-middle h2{
        font-size: 30px;
        width: 430px;
        height: 800px;
        margin-top: -45%;
    }
    .features{
        transform: translateY(300px) ;
    }
}


/*Footer*/
.footer__container {
    background-image: linear-gradient( to right, #00b9b9, #00dfae ); 
    margin-top: 8%;
    /*background-color: #00DFAE;*/
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
#footer__logo {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}
  
.footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
  }
  
  .footer__link--wrapper {
    display: flex;
}
  
.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 214px;
    box-sizing: border-box;
}
  
.footer__link--items h2 {
    margin-bottom: 16px;
    color: #fff;
}
  
.footer__link--items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
    transition: 0.3 ease-out;
}
  
.footer__link--items a:hover {
    color: #000;
    transition: 0.3 ease-out;
}
  
.social__icon--link {
    color: #fff;
    font-size: 24px;
}
  
.social__media {
    max-width: 1000px;
    width: 100%;
}
  
.social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}
  
.social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}
  
.website__rights {
    color: #fff;
}
 /*Responsive Footer*/ 
@media screen and (max-width: 820px) {
    .footer__links {
      padding-top: 2rem;
    }
  
    #footer__logo {
      margin-bottom: 2rem;
    }
  
    .website__rights {
      margin-bottom: 2rem;
    }
  
    .footer__link--wrapper {
      flex-direction: column;
    }
  
    .social__media--wrap {
      flex-direction: column;
    }
}
  
@media screen and (max-width: 480px) {
    .footer__container {
        margin-top: 100%;
    }
    .footer__link--items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}
